
{% extends "base.html" %}
{% block content %}


<section class="intro">
    <p>Hei og velkommen til The Next Listen! </p>

    <p>Oppdag nye album og bygg din egen musikk-backlog.<br>
    Lagre album du vil høre senere, hold oversikt over hva du lytter til, <br> og del anbefalinger med andre.</p>
</section>


<section class="search-section">  
    <div class="search-box">
        <label for="album-serach" class="sr-only">Søk etter album</label>
        <input  
            id="album-serch"
            class="search" 
            type="text" 
            placeholder="Søk etter album...">
        <svg class="search-icon" width="24" height="24">
            <use href="#search-icon"></use>
        </svg>
    </div>
</section>

{% endblock %}
